* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
  line-height: 1.5;
}
a{
  text-decoration: none;
}
header {
  background-color: #31006e;
  padding-top: 20px;
  padding-bottom: 20px;
}
#menu li {
  display: inline-block;
}
#menu li a {
  color: white;
  padding: 15px;
}
#menu li a:hover {
  color: #f0047f;
}
#menu li a.nice:active {
  color: #f0047f;
}
header img {
  width: 220px;
}
nav {
  float: right;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* hero-section */
#hero {
  background-color: #31006e;
  background-image: url("images/banner-pattern.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 125%;
}
div p.Grow{
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 20px;
}
div p{
    font-size: 18px;
}
#white-box {
  background-color: white;
  width: 50%;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
}
#white-box small {
    font-size: 16px;
  color: #7f7f7f;
}
#white-box p {
  color: #f0047f;
}
#white-box h2 {
  color: #31006e;
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 15px;
}
section#hero{
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 16px;
}

/* bilding-wrapper */
.imagewrapper{
    background-image: url("images/building.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}
.content{
    width: 45%;
    padding-top: 80px;
    padding-bottom: 80px;
}
div.content p{
    margin-bottom: 24px;
    font-size: 16px;
    color: #333333;
}
div.content a{
    color: #2E3192;
}
/* image-section */
section#imgsection {
    max-width: 1600px;
    height: 400px;
    background-attachment: fixed;
    background-position: center center;
    background-image: url("images/parallax-home.jpg");
}
/* team section */
section#team .container{
  margin-top: 60px;
  text-align: center;
  
}
section#team{
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("images/join.png");
  padding: 4rem;
  padding-bottom: 120px;
}
section#team .container img{
  margin-top: 20px;
}
div.container .join-team h3{
  color: #2E3192;
  font-weight: 500;
  font-size: 40px;
}
div.container .join-team p{
  margin-top: 16px;
  margin-bottom: 20px;
  color: #333333;
  font-weight: 500;
  font-size: 16px;
}
.tname{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.team-name{
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-name p.post a{
  font-size: 24px;
  color: #EC0086;
}
.bx-chevron-right{
  font-size: 25px;
  color: #2E3192;
}
/* search img */
section#team .container p.looking{
  margin-bottom: 60px;
  text-align: center;
  font-size: 16px;
  color: #333333;
}
strong{
  font-weight: 400;
  font-size: 30px;
  color: #333333;
}
button{
  cursor: pointer;
  border: 1px solid #2E3192;
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 5px;
  color: #2E3192;
  font-size: 1rem;
}
/* corporate section */